{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block hover_about %}has-background-info-dark has-text-white{% endblock %}
{% block content %}
<section class="hero is-link" style="background-image: url(static/img/aboutme.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;">
  <div class="hero-body">
    <div class="card column is-5 has-text-centered">
      <div class="card-content">
        <figure class="image is-128x128" style="margin:auto">
          <img class="is-rounded"   src="static/img/tm-easy-profile.jpg">
        </figure>
        <div class="content ">
          <h1>
            I'm Shetelka
          </h1>

          <p><b>Cloud Engineer</b></p>


          <div class="icon-text">
            <span class="icon">
              <a href="" target="_blank" class="fa fa-linkedin fa-2x"></a>
            </span>
            <span class="icon">
              <a href="" target="_blank" class="fa fa-youtube fa-2x"></a>
            </span>
            <span class="icon">
              <a href="" class="fa fa-github fa-2x"></a>
            </span>
            <span class="icon">
              <a href="" class="fa fa-google fa-2x"></a>
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">

  <div class="columns  is-centered">
    <div class="column is-three-fifths">
      <div class="card is-shady">
        <div class="card-content">
          <div class="content has-text-justified	">
            <h3>ABOUT ME</h3>
            <p>
              I am a veteran of the US Army served for 3 years deployed to iraq in support of opperation iraqi freedom. I have 2 kids and married. i love spending time with my family and on my spare time taking trips across the I am seeking a position in any Career Industry with an opportunity for advancement. I'm a hard worker willing to relocate. Will work Any shifts.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card is-shady" style="width: 100%;">
        <div class="card-content">
          <div class="content">
            <h3>Cloud Platforms</h3>
            <p>
              <span class="is-size-6">
                Google Cloud Platforms
              </span>
              <progress class="progress is-link is-small" value="100" max="100">70%</progress>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns  is-centered">
    <div class="column is-three-fifths">
      <div class="card is-shady">
        <div class="card-content">
          <div class="content has-text-justified	">
            <h3>EXPERIENCES</h3>
            <p><span class="is-size-5">Frontend Team Lead</span></p>
            <p><span class="is-size-6"><b>Walmart | Mar 2019 to Jun 2021</b></span></p>
            <p>
              managed the frontend/gas station, trained associates and made associates schedules.
            </p>
            <p><span class="is-size-5">Online Grocery Department Manager</span></p>
            <p><span class="is-size-6"><b>Walmart | Oct 2015 to Mar 2019</b></span></p>
            <p>
              supervise associates, shop online grocery and trained associates
            </p>
            <p><span class="is-size-5">Food Service Supervisor</span></p>
            <p><span class="is-size-6"><b>Lee State Prison | Oct 2010 to Oct 2015</b></span></p>
            <p>
              supervised inmates
            </p>
            <p><span class="is-size-5">BLS Operator </span></p>
            <p><span class="is-size-6"><b>Calltech Communication | Jul 2005 to Feb 2006</b></span></p>
            <p>
              provided customer service, internet hook-ups, Referred customers, Repaired the internet, and solved internet problems
            </p>
            <p><span class="is-size-5">Food Service Specialist</span></p>
            <p><span class="is-size-6"><b>United States Army | Jun 2001 to Jun 2004</b></span></p>
            <p>
              prepared meals on a daily basis, ran outside line, replenished salad bar cut up dessert
            </p>
            <p><span class="is-size-5">Rations and Utilities</span></p>
            <p><span class="is-size-6"><b>United States Army | Jun 2001 to Jun 2004</b></span></p>
            <p>
              Answered telephones, made work schedules, reported work orders, ordered materials, issued work orders, ordered materials
            </p>

          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card is-shady" style="width: 100%;">
        <div class="card-content">
          <div class="content">
            <h3>TOOLS/SKILLS</h3>
            <p>
            <ul>
              <li>Microsoft Office (Word, Excel) </li>
              <li>French</li>
              <li>Can type about 20-30 words per minute</li>
              <li>Public speaking/ leadership</li>
              <li>communication/ team work/conflict resolution</li>
            </ul>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns  is-centered">
    <div class="column is-three-fifths">
      <div class="card is-shady">
        <div class="card-content">
          <div class="content has-text-justified	">
            <h3>EDUCATION</h3>
            <p><span class="is-size-5">Albany Technical College</span></p>
            <p><span class="is-size-6"><b>Hotel, Restaurant, Tourism Management | Jan 2005 to Nov 2007</b></span></p>
            <p>
              completed a total of 160 hours of training, did intern at a George T. Bagby State Park
            </p>
            <h3>EDUCATION</h3>
            <p><span class="is-size-5">Calhoun County</span></p>
            <p><span class="is-size-6"><b>diploma-graduated | Jan 2005 to Nov 2007</b></span></p>
            <p>
              Graduated with twenty-four credits, college prep level </p>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card is-shady" style="width: 100%;">
        <div class="card-content">
          <div class="content">
            <div class="contact">
              <h3>CONTACT</h3>
              <p><i class="fa fa-map-marker"></i> Edison Ga 39846</p>
              <p><i class="fa fa-phone"></i> (229) 376-6232</p>
              <p><i class="fa fa-envelope"></i>shetelka31@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
